body {
    margin: 5%;
    text-align: justify;
    font-size: medium;
}

code {
    font-family: monospace;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

h1.title {
}

h2.author {
}

h3.date {
}

ol.toc {
    padding: 0;
    margin-left: 1em;
}

ol.toc li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

p {
    text-indent: 1.5em;
    margin: 0;
}

blockquote {
    margin: 0 2.5em;
    text-indent: 0;
}

.footnotes p {
    text-indent: 0;
}
